@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Ubuntu&display=swap");

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fade-enter {
	opacity: 0;
}

.fade-enter-active {
	opacity: 1;
	-webkit-transition: all 400ms;
	-o-transition: all 400ms;
	transition: all 400ms;
}

.fade-exit {
	opacity: 1;
}

.fade-exit-active {
	opacity: 0;
	-webkit-transition: all 400ms;
	-o-transition: all 400ms;
	transition: all 400ms;
}